@import "shared/styles/scss/_variables";

.nav-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;

    &__item {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: $color-navbar-item;
        text-decoration: none;
        transition: 0.3s;
    }

    &__item:hover {
        color: $color-navbar-active;
    }

    &__item_active {
        color: $color-navbar-active;
    }

    @media (max-width: 1300px) {
        &__item {
            font-size: 18px;
        }
    }

    @media (max-width: 920px) {
        &__item {
            font-size: 20px;
        }
    }

    @media (max-width: 500px) {
        &__item {
            font-size: 22px;
        }
    }
}
