@import "shared/styles/scss/_variables";

.currency-converter {
    display: flex;
    justify-content: space-between;
    padding: 20px; //?
    width: 100%;
    background: linear-gradient(358.2deg, $currency-converter-background-light), $currency-converter-background-dark;
    mix-blend-mode: normal;
    box-shadow: $currency-converter-shadow-light, $currency-converter-shadow-dark;
    border-radius: 28px;
    box-sizing: border-box;

    &__title {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 50px;
        color: $color-text-primary;
    }

    &__currency-inscription {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 50px;
        color: $color-text-tertiary;
    }

    &__all-courses {
        width: fit-content;
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 112%;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: $color-text-quinary;
        cursor: pointer;
    }

    &__right-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__update-info {
        display: flex;
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 50px;
        color: $color-text-tertiary;

        @media (max-width: 920px) {
            height: 30%;
        }
    }
}

.currency-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;

    @media (max-width: 920px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.conversion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__currency {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 112%;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: $color-currency;
        mix-blend-mode: normal;
    }

    &__currency-value {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 112%;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: $color-text-tertiary;
    }
}

.converter-image {
    @media (max-width: 920px) {
        width: 70px;
    }
}
