$color-text-primary: #1c1c1e;
$color-text-secondary: white;
$color-text-tertiary: #000000;
$color-text-quaternary: #4f5665;
$color-text-quinary: #ffffff;

$color-feature-article-title: #0b132a;

$color-feedback-container-support: #eb801d;

$color-navbar-active: rgba(178, 163, 95, 1);
$color-navbar-item: rgba(29, 25, 41, 1);

$currency-converter-background-light:
    rgba(178, 178, 178, 0.8) 8.06%,
    rgba(178, 178, 178, 0) 67.93%;

$currency-converter-background-dark: rgba(244, 244, 244, 0.9);

$currency-converter-shadow-light: 0px 0px 4px rgba(0, 0, 0, 0.08);
$currency-converter-shadow-dark: 0px 2px 4px rgba(187, 187, 187, 0.2);

$color-currency: #808080;

$color-blue-button-background: #003cff;
$color-blue-button-background-disabled: rgba(119, 150, 192, 1);

$color-custom-input-background: #ffffff;
$color-custom-input-border: #e5e7eb;
$color-custom-input-shadow: rgba(54, 58, 120, 0.1);
$color-custom-input-icon-text: #9ca3af;
$color-custom-input-text: #4b5563;
$color-custom-input-placeholder: rgba(144, 146, 176, 1);
$color-custom-input-button-background: #686df1;
$color-custom-input-button-background-hover: #4f46e5;
$color-custom-input-button-text: #ffffff;

$horizontal-rule-background: rgba(255, 255, 255, 0.81);

$color-logo: #b4387a;

$color-footer-background-light: rgba(178, 178, 178, 0.2), rgba(178, 178, 178, 0.2);
$color-footer-background-dark: #f4f4f4;

$color-footer-secondary: #2d3748;
