.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64px;
    width: 1300px;
    box-sizing: border-box;

    @media (max-width: 1300px) and (min-width: 921px) {
        width: 920px;
    }

    @media (max-width: 920px) {
        width: 500px;
    }

    @media (max-width: 500px) {
        width: 280px;
    }
}
