header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    box-sizing: border-box;

    .nav-bar {
        width: 437px;
    }

    .button {
        width: 128px;
        height: 50px;
    }

    @media (max-width: 1300px) and (min-width: 921px) {
    }

    @media (max-width: 920px) {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        gap: 16px;

        .nav-bar {
            width: 100%;
        }

        .button {
            width: 50%;
            height: 65px;
        }
    }

    @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        height: fit-content;

        .nav-bar {
            flex-wrap: wrap;
            width: 90%;
            gap: 20px;
            font-size: 20px;
        }
    }
}
