@import "shared/styles/scss/mixins";
@import "shared/styles/scss/_variables";

.blue-button {
    @include flex-center;

    padding: 8px;
    gap: 8px;
    background: $color-blue-button-background;
    border-radius: 16px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-feature-settings:
        "salt" on,
        "liga" off;
    color: $color-text-quinary;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    &_disabled {
        background: $color-blue-button-background-disabled;
    }
}

.blue-button:hover {
    background: $color-blue-button-background-disabled;
}
